body{
    
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 30px;
    /* text-transform: none; */
    color: #484848;
    font-family: 'Poppins';

}
@media(max-width:600px){
    p{
        font-size: 16px;
    }
}
